{% extends "test.html" %}





{% block content %}
    <div id="mwrapper">

  

    <div class="con">
<div class="getstarted">

  <a href="/goals">
	<svg id="Lager_1" data-name="Lager 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 325 325">
  <defs>
    <style>
      .cls-1 {
        fill: #500;
      }

      .cls-2 {
        fill: #f4f0bb;
      }

      .cls-3 {
        fill: #a00;
      }

      .cls-4, .cls-5 {
        fill: none;
      }

      .cls-4 {
        stroke: #f4f0bb;
      }

      .cls-4, .cls-5, .cls-6 {
        stroke-miterlimit: 10;
      }

      .cls-4, .cls-6 {
        stroke-width: 2px;
      }

      .cls-5 {
        stroke: #43291f;
        stroke-width: 10px;
      }

      .cls-6 {
        fill: #fff;
        stroke: #000;
      }
    </style>
  </defs>
  <g>
    <circle class="cls-1" cx="162.5" cy="162.5" r="157.5"/>
    <path class="cls-2" d="M511.5,232a152.51,152.51,0,1,1-107.83,44.67A151.47,151.47,0,0,1,511.5,232m0-10A162.5,162.5,0,1,0,674,384.5,162.5,162.5,0,0,0,511.5,222Z" transform="translate(-349 -222)"/>
  </g>
  <text x="-349" y="-222"/>  <g>
    <circle class="cls-3" cx="162.5" cy="161.5" r="122.5"/>
    <path class="cls-2" d="M511.5,266a117.48,117.48,0,1,1-83.09,34.41A116.75,116.75,0,0,1,511.5,266m0-10A127.5,127.5,0,1,0,639,383.5,127.5,127.5,0,0,0,511.5,256Z" transform="translate(-349 -222)"/>
  </g>
  <line class="cls-4" x1="196" y1="113" x2="259" y2="131"/>
  <line class="cls-4" x1="195.68" y1="118.19" x2="258.68" y2="136.19"/>
  <line class="cls-4" x1="195.68" y1="124.19" x2="258.68" y2="142.19"/>
  <line class="cls-4" x1="195.68" y1="128.19" x2="258.68" y2="146.19"/>
  <line class="cls-4" x1="195.68" y1="133.19" x2="258.68" y2="151.19"/>
  <line class="cls-4" x1="195.68" y1="139.19" x2="258.68" y2="157.19"/>
  <line class="cls-4" x1="195.68" y1="144.19" x2="258.68" y2="162.19"/>
  <line class="cls-4" x1="195.68" y1="151.19" x2="258.68" y2="169.19"/>
  <line class="cls-4" x1="195.68" y1="157.19" x2="258.68" y2="175.19"/>
  <line class="cls-4" x1="168" y1="109" x2="186" y2="109"/>
  <line class="cls-4" x1="168" y1="113" x2="186" y2="113"/>
  <line class="cls-4" x1="168" y1="117" x2="186" y2="117"/>
  <line class="cls-4" x1="168" y1="122" x2="186" y2="122"/>
  <line class="cls-4" x1="168" y1="127" x2="186" y2="127"/>
  <line class="cls-4" x1="168" y1="132" x2="186" y2="132"/>
  <line class="cls-4" x1="168" y1="137" x2="186" y2="137"/>
  <line class="cls-4" x1="168" y1="142" x2="186" y2="142"/>
  <line class="cls-4" x1="168" y1="146" x2="186" y2="146"/>
  <line class="cls-4" x1="168" y1="152" x2="186" y2="152"/>
  <line class="cls-4" x1="168" y1="157" x2="186" y2="157"/>
  <line class="cls-4" x1="190.68" y1="107.19" x2="253.68" y2="125.19"/>
  <line class="cls-4" x1="168" y1="105" x2="186" y2="105"/>
  <line class="cls-4" x1="244" y1="125" x2="261" y2="125"/>
  <line class="cls-4" x1="243" y1="129" x2="261" y2="129"/>
  <line class="cls-4" x1="243" y1="134" x2="261" y2="134"/>
  <line class="cls-4" x1="243" y1="140" x2="261" y2="140"/>
  <line class="cls-4" x1="243" y1="146" x2="261" y2="146"/>
  <line class="cls-4" x1="240" y1="152" x2="258" y2="152"/>
  <line class="cls-4" x1="245" y1="157" x2="263" y2="157"/>
  <line class="cls-4" x1="243" y1="162" x2="261" y2="162"/>
  <line class="cls-4" x1="243" y1="167" x2="261" y2="167"/>
  <line class="cls-4" x1="243" y1="173" x2="261" y2="173"/>
  <line class="cls-4" x1="243" y1="180" x2="261" y2="180"/>
  <line class="cls-4" x1="243" y1="177" x2="261" y2="177"/>
  <line class="cls-5" x1="163" y1="161" x2="163" y2="94"/>
  <line class="cls-5" x1="163" y1="94" x2="240" y2="113"/>
  <line class="cls-5" x1="264" y1="185" x2="264" y2="121"/>
  <line class="cls-5" x1="240" y1="189" x2="240" y2="113"/>
  <line class="cls-5" x1="191" y1="162" x2="191" y2="107"/>
  <line class="cls-5" x1="190.68" y1="100.69" x2="267.68" y2="119.69"/>
  <circle id="boll" class="cls-6" cx="91.5" cy="212.5" r="8.5"/>
</svg>

</a>
</div>



    <div class="getstarted">
      
        <img class="vert-move" src="../static/images/evolviared.png">


      
<!-- Generator: Adobe Illustrator 24.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!-- <svg version="1.1" id="Lager_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 291 169" style="enable-background:new 0 0 291 169;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#AA000E;}
	.st1{fill:#FFFF00;}
    .st2{fill:#00FF00;}
    .st3{fill:#0000FF;}
	.st4{fill:#4B0082;}
	.st5{fill:#9400D3;}
</style>
<g>
	
		<image style="overflow:visible;" width="363" height="243" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWsAAADzCAYAAABABDfiAAAACXBIWXMAAAsSAAALEgHS3X78AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAADGxJREFUeNrs3V1y28gVBlCKkjx+
mLf4dZ5nGbOHyZa8nSzCu0mlKlOeGv/LJEPI6KSFkBKJH/J29zlVKFK0ZFEA+sNFo9FcrQAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoGw30d7Qu3fvdr/9
9pst022cm+c3z263C//eI79H5FxJ1tHeUBfUb9++tXs9E3Td69FDsIT3CEywD+quhVuyZV+l/nex
PiyWsxenB0sVZQ5Z/WnP+seJz3a7/b/Xh6+V8t5BzgnrOveym5vH7oS8/zp690IK6uTagZ3WYan/
P9N3yRpyJ2xYawBPw6CEkI5YWS99kCvpINqwn54J5+3qaXdJ2I1YbWUt7MkPcksc8A6N1rHPhWx/
fzuQMbs+qDf75Xv/OAzuUO5qbqQCu20ppJc6M5nSPVXCdYeK2t+bA8VgCumv++VL/5hCO6S7WneU
vKEKbIG91D4w5v8f9unX2P6CVdi/DMJ62wdzF9If98ufg38L2R1yV2vjdFMGc3ZNPBc6Y4O6xhEz
QS+G/zoI601fSX/YL38MKu1N1Oq62LB+LoyXrqZoS35aPyWAUtdHHtI1VtnntL8LtdNhZd2F8uf9
8r5/7a++wu5eCzvMr8iwzvv7jvX9CWrmLgqmhnYK53x/rbXf+tSgvlBgvzkQ1p/6r7vH130Whj5y
FhfWh3b2mi/WXDqYHOQOV4kvzdNybmDXHNTnHAQv5OdBWD9kQd0N67vfL7d9Va2ynsswnPvn/xAr
853qRw3sua5DnPs3Dvthpx7cIoX0tbb3hOGUfx/x6+7z1Z9l390gpEPf6VhkN0jauNmOVsXtpKrm
cg5KNYw2uvYB+oK/M8+H9SCcb0rJj3XpjU4AndcoX2o4kdfn1Jn8hvvMOafiw99d2/534W4JWgrr
2oN17or6lICq/cA3XAdj/t78Z2paX4qe+O4a2MGa3guHw6hab5RzDOusZR0KaGEdZl/MHkfdmXSt
U925+xCnBtQl+jQvOaJnzN+izx9hvUxjm2Wilvz3XCpMlrwtemxQLx1WaShb1CGY+nMR1stK9/8f
m6hld04V1eKY2EvMszK8my9aYOdBrbpGWM/f/ZHf/58mavnYh/b3rMJ2KvxCNX7OPCtjuo3ykI54
UFxqelUQ1k+r6i99UP9z9WPClg99gG+eC+s5JuypLbCX/Nuj34Xaakj7YAVhfanqOq+su6D+1+rH
xC2f+yDfnbqzGkGxm/X7jgX2ku7vf9zE9vDwoNU7SAnrwNX1hz6o/736MR/ASWFtZ61DCur0XGAj
rGNV1qm6fugr7M99UH/sX5PEjejC2eRJCOv4gZ1C+3u/PKz+d5GRBgwn/BfYCOv4oZ2Pv1ZZN0I4
U0XRYRUACGsAhDWAsAZAWAMgrAGENQDCGgBhDSCsARDWAMIaAGG9lPyjpwCEdfCQFthArYqdIvXQ
5wIu9QncAML6zIBOfKgt0JJiukGe6+I4p886/9QQAJX1AkGdquZD4XxqRe1TQwBhvZAuiKcEdAp4
XSRAqYrpE8iDtnt+bvCmwAfaUNuQ3qI6cMeE9PDn9VlDG0F96HnJYd5ccumzhvq9VNSlbtGSCjhl
JtBUcA+vX6UCLnpoC2ug2pA+VGHn16+G3SCRA/vOJgVKNQzXFM6nXNvqfnZYYQtrgAWC+tA1qFMv
Gh67byPqMF/dIECxQd09pmVMYA9FHoAgrIHiDUP21Mo4VdH5RcaoN8/pBgGKDOdhN0gK2lOG7aVA
12cNcKHAPlZdH3No+orueffzkbtBhDVQdGCPkQ/fm3pntLAGWFBpE7u5wAggrAEQ1gAzub29FdYA
0YN6s9mEDmxhDaioVdYAsXUVdf4orAECB3bqChHWAAVU2MIaAGENIKwBClbaJ5kLa6DJoD70XFgD
IKwBzlHa7HrCGhDcBQd32LAu/WIAECukS6+w15FXLoACMHhYAygAKwvrGsZQAlQd1rWMoQSoOqzz
Uxv93ECtqvh0cyENqKwBENYACGuAk0UepCCsAVbxR5MJa4BV/IEKwhqggMAW1gAFENYAwhpg4RBb
rx8XYQ0Q2Ha7fVxqD2xhDRRbUeeVde2BLawBBgeAiO5sHqBEqZLuHvPXpv6fKmuAhQK7hQuMKmug
+MBugcoaQFgDIKwBhDVA4QFX0YVHYQ1UHdS1BLawBhDWMXSfANHKWExg9eRmmVqG9lU9zroL6W7p
NlaaVHx4xxNQr5ra+rq1jSWooX5dcabPuoLTI6CNwO7OrKN/tuKp7lrYWCpraDuwawjtuxY2FtBu
SJ+SA6d+31V7BWxWoOZCTTcIQCVn1iUEepGV9bAf+qXXAVTWVwrq5wJbPzVQm6Iq65cq5xTSKmxA
WF9RDVd0AaoP6zyIu8fhIqihLWPOoks98y7yAuOxQBbU0F5Qnxu+peaEcdZAsUF9znWq4feUVmEL
a6DYs+tzrlMNv6e0CltYA0UH9tiqvDTuYASaCmx91gBXlk/eVBthDVQZ2sIaIHBA13ons7AGVNXC
GuA6AV3bTXLr1jaoSZ4AYe3UCFBVtxnWU0J27NwBQHlqnxsodFhPCdv0IQTDnzXZE9QZ0rVPkRw2
rKcMw8k/Lcb0qdBOYNfcxtfRV/6Yo2VeUaeLioIa2ghsYV3Y0TIFdl5ZAwjrgEdLIQ0I6yszZhpo
iSlSgerkxdx2uxXW16SLAzgW1Pm1qvV6XUVgmxsEqCqonwTcen3wUVgDBDnjTsGcqupUYZca2MIa
qFIe0unrkrtEhDVQZXWdB/PwUVgDBKusaxkNIqyB4rR4j0Ut46x/t/tCe4Hd0hDesJV119/kDkXg
mNbutQgX1vldR4fmowZo8aY4fdZMOvsp+SYDENYzVdfmoX66TiJNXtW9jzFnP86U5tkPWn8PwjrI
6U23qNiehltaL9G6hs45mA4/EKJ1t7e3j0vp+yYNV9adVLW17tg6GNtQ5jgI5r/71PdR++fjjQnp
zWbzuJwT2NE+TENgC2unXS80hDENds65Ec79/VE/1HTuM7hTquU8pFNol1Jhd+sr6lmesA4SWi12
jczdGPK5EeZcl6cG79wfajp13USaia0L7BIM7wYseWIkYb1AUOe3jbZ2JE+BnZ9djK2qDzW2qe9p
6Yr8paCeqztorsBJVfPc3xvF8Ayg+7qW27mF9QzBkFdAlzx9jnJgyE8756qIpv59c7ynqdtlzvUh
cE4L6rz7RheIsD7asC7ZoKZWbqWdzpZo6raJNtFPaftad7Dswtt4e2E9/o+asOMcOr2P2IjGvKdD
66XEg1He9z21so8W1JG3R6qq8+6b1A3izGR5ESdyuhk8v98vP++XN/vll/3ya//4pn/9Pv+Z1KeW
dqquTU8NwGjDzcbeNJT3+Zc+hK6mIYD5NknFQtS/bzhyJWife5Wnw1V9unkW0PnXN2PDIGKjmdKw
9THGPfBMvYB86cBGN8hsR/1hcJ/aaPJT68iNZmrDdpNKzDMF22Pe9nGpnxPWEwK71qP/2IOJqrqc
wK4pYK4Z1NccWrqE0rpBdgeW7fCg08Jp2rk7VT5ePb8L7RoNaczvvb+/f3x8eHiQRkeCSVV+Ujfh
9kiOhFdKWOcrtUvi7/2SWu5N7Tvf1Morv1p/rZuLpgSLkB4VTEWZ48atE/r/d31upAzZlBLaJYR1
HtLdSv66Xz7vl0/Z33BTc2Oc6/9IjbnE0+aS+tgv9V5LuzB5SlCn53ME9pH1setD+lOfI1/7XNlE
D+xSKuttv4K/7JcP++V9//qnmsM6D9YpDfFQH/c1GvZcB4pXr16tvn37Fv4Ae4lKN+qopbMbeDbH
yFxTIjxT/H3vg/p9nydf+tdCDxYvpbLe9EfAj/vljyyof9ovtzV3g0xthHljjlCBjf3d6eciB3Wp
+0iUM4cL3ViT58mHPk8+9l9vVNbzVdV/9q/9tV9e9+9/XXNYR6rQT23IS/yOdIExelBHOSheYvsW
WtHvBpnysc+V8NV1CSF301fPd30l/bp/vOtfD/t3nLIzT+2fi9oFYGRCfYb7c6EHpfRm00CFr31Q
f109veAorEe+x5u+gr7NQnqd/Vvo4Mqf58PnDj2vJawFdp0q2W/zYb+bLKTzYX3CeuL7zIO7pPd/
se4C4KwKexjQYRtlaWFXzPs9Z9SD0IYw4Q0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAADQrv8IMAA5g17IJBkgJwAAAABJRU5ErkJggg==" transform="matrix(1 0 0 1 -34 -34)">
	</image>
</g>
<g id="1">
	<rect x="16.5" y="16.5" class="st0" width="38" height="127"/>
	<path d="M52,19v122H19V19H52 M57,14H14v132h43V14L57,14z"/>
</g>
<g>
	<rect x="58.5" y="16.5" class="st1" width="38" height="127"/>
	<path d="M94,19v122H61V19H94 M99,14H56v132h43V14L99,14z"/>
</g>
<g>
	<rect x="100.5" y="16.5" class="st2" width="38" height="127"/>
	<path d="M136,19v122h-33V19H136 M141,14H98v132h43V14L141,14z"/>
</g>
<g>
	<rect x="142.5" y="16.5" class="st3" width="38" height="127"/>
	<path d="M178,19v122h-33V19H178 M183,14h-43v132h43V14L183,14z"/>
</g>
<g>
	<rect x="184.5" y="16.5" class="st4" width="38" height="127"/>
	<path d="M220,19v122h-33V19H220 M225,14h-43v132h43V14L225,14z"/>
</g>
<g>
	<rect x="226.5" y="16.5" class="st5" width="38" height="127"/>
	<path d="M262,19v122h-33V19H262 M267,14h-43v132h43V14L267,14z"/>
</g>
</svg> -->


</div>
     
        
    <div class="getstarted">
      
  <a href="/calendar/">    
  <svg id="Lager_1" data-name="Lager 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 325 325">
  <defs>
    <style>
      .cls-1 {
        fill: #500;
      }

      .cls-2 {
        fill: #f4f0bb;
      }

      .cls-3 {
        fill: #a00;
      }

      .cls-4 {
        fill: #43291f;
      }

      .cls-5, .cls-7 {
        fill: none;
        stroke-miterlimit: 10;
      }

      .cls-5 {
        stroke: #43291f;
        stroke-width: 10px;
      }

      .cls-7 {
        stroke: #a00;
      }
    </style>
  </defs>
  <g>
    <circle class="cls-1" cx="162.5" cy="162.5" r="157.5"/>
    <path class="cls-2" d="M162.5,10A152.49,152.49,0,0,1,270.33,270.33,152.49,152.49,0,1,1,54.67,54.67,151.47,151.47,0,0,1,162.5,10m0-10A162.5,162.5,0,1,0,325,162.5,162.5,162.5,0,0,0,162.5,0Z" transform="translate(0 0)"/>
  </g>
  <text/>  <g>
    <circle class="cls-3" cx="162.5" cy="161.5" r="122.5"/>
    <path class="cls-2" d="M162.5,44A117.48,117.48,0,1,1,79.41,78.41,116.75,116.75,0,0,1,162.5,44m0-10A127.5,127.5,0,1,0,290,161.5,127.5,127.5,0,0,0,162.5,34Z" transform="translate(0 0)"/>
  </g>
  <g>
    <rect class="cls-4" x="96" y="104" width="144" height="109"/>
    <path class="cls-4" d="M235,109v99H101V109H235m10-10H91V218H245V99Z" transform="translate(0 0)"/>
  </g>
  <g>
    <rect class="cls-2" x="96" y="104" width="144" height="109"/>
    <path class="cls-4" d="M235,109v99H101V109H235m10-10H91V218H245V99Z" transform="translate(0 0)"/>
  </g>
  <line class="cls-5" x1="210" y1="86" x2="210" y2="99"/>
  <line class="cls-5" x1="120" y1="93" x2="120" y2="106"/>
  <line class="cls-5" x1="98" y1="182" x2="237" y2="182"/>
  <line class="cls-5" x1="99" y1="141" x2="238" y2="141"/>
  <line class="cls-5" x1="131" y1="104" x2="131" y2="217"/>
  <line class="cls-5" x1="163" y1="105" x2="163" y2="218"/>
  <line class="cls-5" x1="202" y1="105" x2="202" y2="218"/>
  <line class="cls-7" x1="110.5" y1="131.5" x2="122.5" y2="115.5"/>
  <line class="cls-7" x1="105.5" y1="120.5" x2="110.5" y2="131.5"/>
  <line class="cls-7" x1="142.91" y1="131.7" x2="154.91" y2="115.7"/>
  <line class="cls-7" x1="138.41" y1="121.2" x2="143.41" y2="132.2"/>
</svg>
</a>

</div>

    </div>

</div>

{% endblock %}
